
  <div class = "main_top">
    <div class= "room_overview">
    hogefuga
    </div>

    <div class = "end_chat">
    <a href="#">チャットを終了する</a>
    </div>
  </div>

  <div class = "main_middle">
    <div class = "messages">
      <div class = "message_info">
        <div class = "info_name">
          Tom
        </div>
        <div class = "info_date">
          2020/07/20 (Mon) 11:29:15
        </div>
      </div>
      <div class = "message_text">
        <div class = "text_post">
          おはよう
        </div>
      </div>
    </div>

    <div class = "messages">
      <div class = "message_info">
        <div class = "info_name">
          Jim
        </div>
        <div class = "info_date">
          2020/07/20 (Mon) 11:35:15
        </div>
      </div>
      <div class = "message_text">
        <div class = "text_post">
          おは
        </div>
      </div>
    </div>
  </div>


  <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
    <div class = "main_bottom">
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
  <%= f.submit '送信', class: 'form-submit' %>
    </div>
  <% end %>


